/* header and footer css in home */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.before-product {
}
.before-product > div {
}
.main-product {
  padding: 80px;
  background: #f7f7f7;

  /* */
}
.main-product .container {
  display: grid;
  grid-template-columns: 60% auto;
}
.main-product-image {
  height: 100%;
  width: 100%;
}
.main-product-image img {
  height: 500px;
  width: 400px;
  padding: auto;
  margin: auto 70px;
}
.main-product-description {
  margin-left: 40px;
}
.description-top {
  border-bottom: gray 1px solid;
  padding-bottom: 15px;
}
.description-top > * {
  margin-bottom: 5px;
}
.star {
  color: gold;
}
.description-bottom {
  margin-top: 20px;
  padding: 10px;
}
.cart-button {
  background-color: black;
  color: white;
  padding: 20px 120px;
}
.shipping-info {
  margin: 20px 0px;
}
.product-details {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: gray 1px solid;
}
.d-details {
  padding: 15px;
}
.col {
  display: flex;
}
.avalable-colors h3 {
  margin-bottom: 10px;
}
.colorr {
  height: 25px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}
.colorr-con {
  height: 45px;
  width: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.colorr-con.active {
  border: black 1px solid;
}
.like h2 {
  margin-top: 60px;
  margin-left: 150px;
}
.reviews {
  margin-top: 50px;
}
.review {
  margin-top: 30px;
  padding: 10px;
}
.review p {
  margin-top: 10px;
  padding: 10px;
}
.written-reviews {
  padding: 10px;
  padding-bottom: 25px;
  border-bottom: grey 1px solid;
}

/* Form  */
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input,
.form-control textarea,
.form-control select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 14px;
}
.form button {
  cursor: pointer;
  background: black;

  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 20%;
}

/* TABLETS */
@media (max-width: 768px) {
  .main-product .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .main-product {
    padding: 0px;
  }
  .main-product-image {
    margin: 50px 0px;
  }
  .main-product-image img {
    margin: 0px;
    margin-left: 40px;
    width: 600px;
    height: 700px;
  }
}
/* SMALL SCREENS */
@media (max-width: 500px) {
  .main-product .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 13px !important;
  }
  .main-product {
    padding: 0px;
  }
  .main-product-description {
    margin-left: 0px;
  }
  .description-top {
    margin-left: 20px;
  }
  .main-product-image {
    margin: 50px 0px;
  }
  .main-product-image img {
    margin: 0px;
    /* margin-left: 40px; */
    width: 350px;
    height: 500px;
  }
  .container ul li {
    padding: 10px;
  }
  .like h2 {
    margin-left: 30px;
  }
  .reviews .container {
    padding: 0px;
  }
  .form {
    padding: 10px;
  }
}
